@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ --header-h:56px; }

html, body { height:100%; background-color:#fff7ec; }
*{ -webkit-tap-highlight-color:transparent; }

/* iOS safe areas */
body{ padding-top: env(safe-area-inset-top); }
